/* styles/tailwind.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  margin: 10;
  overflow: auto;
}

canvas {
  display: block;
  background-color: black;
  margin: 0 auto;
}

#gameCanvas {
  border: 1px solid #000;
  margin: 0 auto;
  display: block;
}

.leaderboard-max-screen-overflow {
  height: 25rem;
  overflow-y: auto;

}




